<div class="section-header">
  <%= t('blog') %>
</div>
<div class="container">
  <div class="blog-index">
    <% if current_user&&current_user.admin? %>
      <div class="blog-admin-area">
        <%= link_to "Write A Blog", "/write_blog", class: "red button" %>
      </div>
    <% end %>
    <div class="blog-list">
     <% @blogs.each do |b| %>
       <div class="blog-snap blue-top-box">
         <%= link_to  b.title, blog_path(b) %>
       </div>
    <% end %>
    </div>
  </div>
</div>