<div class="section-header" id="blog-home-header">
  <h1> 毛豆网博客 - 让我们共同进步</h1>
</div>
<div class="container">
  <div class="blog-index">
    <% if current_user&&current_user.admin? %>
      <div class="blog-admin-area">
        <%= link_to "Write A Blog", "/write_blog", class: "red button" %>
      </div>
    <% end %>
    <div class="blog-list">
      <% @blogs.each do |b| %>
       <%= render partial: "blog", locals: {blog: b} %>
      <% end %>
    </div>
  </div>
</div>