<div class="maincontainer">
  <div class="contentwrapper">
    <div class="contentcolumn">
      <ul id="tabs-contents">
        <li>
          <div class="content">
            <iframe src="http://pp2code.com:6080/vnc.html?host=pp2code.com&port=6080" class="web-shell" name="web-shell" ></iframe>
          </div>
        </li> <!-- end li -->
        <li>
          <div class="content">
            <iframe src="http://pp2code.com:6200/" class="web-shell" name="web-shell"></iframe>
          </div>
        </li> <!-- end li -->
        <li>
          <div class="content">
            <iframe src="http://maodou.io:1337/" class="web-shell" name="web-shell" ></iframe>
          </div>
        </li> <!-- end li -->
      </ul>
    </div>
  </div>

  <div class="leftcolumn">
    <div class="logo">
      <a href="/">毛豆网</a>
    </div>
    <ul id="tabs-titles">
      <li class="tooltip current" data-title="<%= t("classroom.noVNC") %>"><i class="fa fa-desktop"></i></li>
      <li class="tooltip" data-title="<%= t("classroom.terminal") %>"><i class="fa fa-terminal"></i></li>
      <li class="tooltip" data-title="<%= t("classroom.whiteboard") %>"><i class="fa fa-pencil-square-o"></i></li>
    </ul>

  </div> <!-- end leftcolumn -->

  <div class="rightcolumn">
    <div id="messenger"></div>
    <div id="conference">
      <div id="livevideo"></div>
    </div>
  </div>
</div> <!-- end maincontainer -->

<script>
  var tabs = $('#tabs-titles li'); //grab tabs
  var contents = $('#tabs-contents li'); //grab contents

  tabs.bind('click',function(){
    contents.hide(); //hide all contents
    tabs.removeClass('current'); //remove 'current' classes
    $(contents[$(this).index()]).show(); //show tab content that matches tab title index
    $(this).addClass('current'); //add current class on clicked tab title
  });
</script>

<script>
  var serverUrl = "/";
  var localStream, room;
  var conference = document.getElementById('conference');
  var dataEvent;

  function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
    results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }

  window.onload = function() {
    dataEvent = function(evt) {
      console.log('Received data ', evt.msg);
      var div = document.createElement('div');
      div.setAttribute("class", "alert alert-info");
      div.innerHTML='<button type="button" class="close" data-dismiss="alert">&times;</button><strong>Received: </strong>'+evt.msg.text;
      document.getElementById('messenger').appendChild(div);
      $(".alert").delay(2000).addClass("in").fadeOut(4000);
    };

    var screen = getParameterByName("screen");
    var isPublish = getParameterByName("publish");
    var isSubscribe = getParameterByName("subscribe");
    var resolution = getParameterByName("resolution");
    var targetRoom = getParameterByName("room");
    var localUsername =  "<%= @username %>";
    var video_constraints = true;
    if(resolution != "") {
      var ints = /^[0-9]*[1-9][0-9]*$/;
      var frameSize = resolution.split(/x/i);
      if(frameSize.length == 2 && ints.test(frameSize[0]) && ints.test(frameSize[1])) {
        if(frameSize[1] > 480) {
          video_constraints = {
            mandatory: {
              minWidth: frameSize[0],
              minHeight: frameSize[1]
            },
            optional: []
          };
        }
        else {
          video_constraints = {
            mandatory: {
              maxWidth: frameSize[0],
              maxHeight: frameSize[1]
            },
            optional: []
          };
        }
      }
    }

    localStream = Woogeen.Stream({audio: true, video: video_constraints, data: true, screen: screen, attributes:{name:localUsername}});

    var createToken = function(userName, role, room, callback) {
      var req = new XMLHttpRequest();
      var url = serverUrl + 'createToken/';
      var body = {username: userName, role: role, room: room};

      req.onreadystatechange = function () {
        if (req.readyState === 4) {
          callback(req.responseText);
        }
      };

      req.open('POST', url, true);
      req.setRequestHeader('Content-Type', 'application/json');
      req.send(JSON.stringify(body));
    };

    createToken("user", "role", targetRoom, function (response) {
      var token = response;
      console.log(token);
      room = Woogeen.Room({token: token});

      localStream.addEventListener("access-accepted", function () {

        var subscribeToStreams = function (streams) {
          for (var index in streams) {
            var stream = streams[index];
            if (localStream.getID() !== stream.getID()) {
              room.subscribe(stream);
            }
          }
        };

        room.addEventListener("room-connected", function (roomEvent) {
          //  room.setMode("mix");
          if(isPublish == "" || isPublish == "true") {
            room.publish(localStream);
          }

          if(isSubscribe == "" || isSubscribe == "true") {
            subscribeToStreams(roomEvent.streams);
          }
        });

        room.addEventListener("stream-subscribed", function(streamEvent) {

          var stream = streamEvent.stream;
          var attr = stream.getAttributes() || {};
          var remoteUsername = attr.name;
          if (!attr.width || !attr.height) {
            attr = {width:120, height:90};
          }
          var div = document.createElement('div');
          div.setAttribute("style", "width: "+attr.width+"px; height: "+attr.height+"px;");
          div.setAttribute("id", "test" + stream.getID());

          var remoteUser = document.createElement('span');
          remoteUser.innerHTML = remoteUsername;
          remoteUser.setAttribute("id", "remote-"+remoteUsername);
          console.log("remoteUsername is :" + remoteUsername);


          conference.appendChild(div);
          conference.appendChild(remoteUser);
          stream.addEventListener("stream-data",dataEvent);
          stream.show("test" + stream.getID());
        });

        room.addEventListener("stream-added", function (streamEvent) {
          if(isSubscribe == "" || isSubscribe == "true") {
            var streams = [];
            streams.push(streamEvent.stream);
            subscribeToStreams(streams);
          }
        });

        room.addEventListener("stream-removed", function (streamEvent) {
          // Remove stream from DOM
          var stream = streamEvent.stream;
          if (stream.elementID !== undefined) {
            var element = document.getElementById(stream.elementID);
            var remoteUser = document.getElementById("remote-"+stream.getAttributes().name);
            if (element) {
              conference.removeChild(element);
              conference.removeChild(remoteUser);
            }
          }
        });

        room.connect();

        localStream.show("livevideo");
        var localUser = document.createElement('span');
        localUser.setAttribute("id", "local-"+localUsername);
        localUser.innerHTML = localUsername;
        console.log("localUsername : " + localUsername);
        conference.appendChild(localUser);
        var localView=document.querySelector("#livevideo video");
        if(localView) {
          localView.setAttribute("muted", "muted");
        }
     });
     localStream.init();
  });
};

</script>
