<div class="hero clearfix">
  <div class="teacher-search">
    <input type="text" class="teacher-search-input" placeholder="e.g. Ruby, Linux, C ">
    <a href="#" class="button">搜索老师</a>
  </div>
</div>