<% if flash[:notice] %>
<div class="flash notice">
  <div class="container">
    <%= flash[:notice] %>
    <span class="close"><i class="fa fa-times-circle-o"></i></span>
  </div>
</div>
<% end %>
<% if flash[:alert] %>
<div class="flash alert">
  <div class="container">
    <%= flash[:alert] %>
    <span class="close"><i class="fa fa-times-circle-o"></i></span>
  </div>
</div>
<% end %>
<% if flash[:error] %>
<div class="flash error">
  <div class="container">
    <%= flash[:error] %>
    <span class="close"><i class="fa fa-times-circle-o"></i></span>
  </div>
</div>
<% end %>
