<div class="header">
  <div class="container clearfix">
    <a class="header-logo-wordmark" href="/">
      HOME
    </a>
    <ul id="user-links">
      <% if current_user %>
        <li><%= link_to current_user.name, account_path(current_user.name) %></li>
        <li>
          <%= link_to logout_path, method: "delete" do %>
            <i class="fa fa-sign-out"></i>
          <% end %>
        </li>
      <% else %>
        <li><%= link_to "注册", signup_path %></li>
        <li>
          <%= link_to login_path  do%>
            <i class="fa fa-sign-in"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

