<div class="marketing container">
  <div class="icon animated fadeInUp ">
    <%= link_to "/about" do %>
    <i class="fa fa-users"></i>
    <% end %>
  </div>
  <h3 class="about-link">
    <%= link_to t("website.slogan"), "/about" %>
  </h3>

  <div class="features box clearfix">
    <div class="item first">
      <div class="teaser-icon">
        <i class="fa fa-search"></i>
      </div>
      <h3>找到最好的老师</h3>
      <p>
        毛豆网拥有丰富的教师资源，所以不管你所喜欢的是哪个方向，总可以在这里找到最为适合你的老师。
      </p>
    </div>
    <div class="item second">
      <div class="teaser-icon">
        <i class="fa fa-money"></i>
      </div>
      <h3>发布收费课程</h3>
      <p>
        老师可以在毛豆发布收费活动，学生可以在线支付活动费用。
      </p>
    </div>
    <div class="item third">
      <div class="teaser-icon">
        <i class="fa fa-beer"></i>
      </div>
      <h3>发布免费活动</h3>
      <p>
        任何人都可以发布免费的活动，大家共同学习，讨论。
      </p>
    </div>
    <div class="item fourth">
      <div class="teaser-icon">
        <i class="fa fa-group"></i>
      </div>
      <h3>找到共同学习的朋友</h3>
      <p>
        不管是经验丰富的老师，还是共同战斗的同学，毛豆让你在奋斗路上从此不孤单。
      </p>
    </div>
  </div>
</div>