<div class="marketing container">
  <h1 class="about-link">
    <%=  t("website.slogan") %>
  </h1>

  <div class="features box clearfix">
    <div class="item first">
      <div class="teaser-icon">
        <i class="fa fa-search"></i>
      </div>
      <h3>第一次，你可以选老师</h3>
      <p>
        想学编程，但学校老师讲得太枯燥？
	<br>在这里，
	无论你喜欢哪个技术，总能找到适合你的老师。
      </p>
    </div>
    <div class="item second">
      <div class="teaser-icon">
        <i class="fa fa-money"></i>
      </div>
      <h3>第一次，你不用看视频</h3>
      <p>
        光看视频，是学不会编程的。
	<br>在这里，
	我们不生产视频，手把手教你写代码才是硬道理。
      </p>
    </div>
    <div class="item third">
      <div class="teaser-icon">
        <i class="fa fa-group"></i>
      </div>
      <h3>第一次，你的努力我们知道</h3>
      <p>
        一起走才走的远，一起学才能坚持。
	<br>在这里，
	每一次学习都被记录，学习过程就是未来的简历。
      </p>
    </div>
    <div class="item fourth">
      <div class="teaser-icon">
        <i class="fa fa-beer"></i>
      </div>
      <h3>第一次，你被别人高薪挖走</h3>
      <p>
        技术公司年年都在招人，越高薪的职位越招不到人。
	<br>有一天，
	最牛的企业和高手都会在这里聚集，你也来吧。
      </p>
    </div>
  </div>
</div>
