<ul class="todo-list">
  <h2 class="todo-title">
    <%= t("todo") %>
  </h2>
  <div class="time-now">
    <%= t("datetime.today") %>
    <span class="clock"></span>
  </div>
  <% attended_events.each do |e| %>
    <li class="todo-item clearfix">
      <div class="e-title">
        <%= link_to e.title, event_path(uid: e.uid) %>
      </div>
      <div class="e-time">
        <span class="momentjs-time" data-time="<%= e.start.utc.iso8601 %>"></span>
      </div>
    </li>
  <% end %>
</ul>

<% content_for :template_js do %>
  <script>
    var updateClock = function() {
      var time;
      if(locale() == 'en') {
        moment.lang("en-ca")
        time = moment().tz("Asia/Chongqing").format("h:mm a, MMM Do");
      } else {
        moment.lang("zh-cn")
        time = moment().tz("Asia/Chongqing").format("MMMD日 Ah:mm");
      }

      $('.clock').html(time);

      var now = new Date();
      var delay = 1000 - (now % 1000);
      setTimeout(updateClock, delay);
    };

    updateClock();
  </script>
<% end %>
