<div class="about-hero">
</div>

<div class="about container">
  <h2>这是一个温馨有爱的地方</h2>
  <p>
    紧握你年少时的梦想，坎坷就业路上，不忘自己追寻的童话王国，当你觉得孤单和无助，其实，共同战斗的朋友始终站在不远的地方。
  </p>
  <p>
    当青春慢慢变成回忆，当梦想随星光一样淡去，当虫儿都不在通讯，草尖上的露珠不知是汗水还是泪滴。黑夜给了我们黑色的情绪，黑夜中我们挣扎涕泣，当鸟儿发出第一声鸣叫，你会知道上帝从未将你我遗弃。
  </p>
  <p>
    从入海的哪一天起，就注定一生漂泊，带着初航的欣然和倦航的苦涩，在这广漠的海上，你已错过许多。仅有的一点欢乐被渲染成海浪，散播成歌...
  </p>
</div>

<% content_for :template_js do %>
  <script>
    $('.about-hero').anystretch("http://maodou.qiniudn.com/farm.jpg");
  </script>
<% end %>