<div class="about-hero">
</div>

<div class="about container">
  <h2>关于毛豆网的故事</h2>
  <br>
  <hr>
  <br>
  <p>
    毛豆网成立于2014年，最初的构想却来自于2004年的一个想法 --  <blockquote> “用一根网线传递教育，能随时随地向最优秀的人请教学习。”  </blockquote>
    时至今日，我们的学习方式还不太自由，在线学习的效果和完成率仍然还不太理想，这些都是毛豆网现在出发的起点。
  </p>
  <p>
    我们希望探索一种新的在线学习方式，在这里，没有培训机构，没有招生广告，只有想教好课的老师和想真正学技术的学生。
  </p>

    <h3># ⽑⾖网的定位</h3>
    <p>
      一句话概括，毛豆网立志要成为中国第一家<strong>面向IT职业技能学习的C2C在线编程教育平台</strong>。
    </p>

    <p>
      毛豆网就是帮助大家在线学编程的，和其他网站的区别在于，我们选择<strong>不做内容，只做平台</strong>。
    </p>
    <p>
      为什么我们这样选择？因为在IT领域的知识更新速度，远远超过我们更新网页的速度。只有留住掌握最新技术的师资人才在平台上传播教育，才能永远保持在内容上的先进性。
    </p>

    <h3># ⽑⾖网要解决什么问题？</h3>
    <p>
      简单来说，毛豆网要解决“五个帮”的问题：
    </p>
    <li>帮学生找老师</li>
    <li>帮老师招学生</li>
    <li>帮师生在线学</li>
    <li>帮企业招人才</li>
    <li>帮三⽅降成本</li>
    <p>
      学生，老师，企业构成了在线教育的三个重要环节。如果毛豆网能够帮助三方实现各自需求中的“痛点”，降低学生学习成本，老师教授成本，企业招聘成本，这才是我们最关心的问题。
    </p>

    <h3># ⽑⾖网的使命 - "让学习更自由"</h3>
    <p>
      毛豆网是为了让在线教育真正改变学习者生活的目标而存在的，因此它不是一个纯交友的网站，也不是一个C2C的电商平台。
    </p>
    <p>
      毛豆网未来会集中全部资源，致力于做好下面的五件事：
    </p>
    <li>吸引一流的IT⼯程师成为在线老师和职业导师</li>
    <li>开发最适合的⼯具帮助师⽣之间进⾏实时教学</li>
    <li>记录学生的学习轨迹并形成在线学习简历</li>
    <li>选拔最优秀的学生直接输送给最需要的企业</li>
    <li>增强中国在信息技术领域的人才竞争力与国际接轨</li>
    <p>
      正如网站首页所写，有一天， 最牛的企业和高手都会在这里聚集，你也来吧。
    </p>

    <h3># ⽑⾖网的未来</h3>
    <p>
      美国有一家社交网站叫 linkedin.com 致力于向全球职场人士提供沟通平台，它向人们展示了一种以信誉为基础的候选人优先级搜索方式。
    </p>
    <p>
      毛豆网的未来，就像 linkedin 一样，通过人与人的信任和社会关系网络来探索实现在线教育2.0的新模式。      
    </p>

</div>

<% content_for :template_js do %>
  <script>
//    $('.about-hero').anystretch("http://maodou.qiniudn.com/farm.jpg");
    $('.about-hero').anystretch("http://img.bzcm.net/canyin/attachement/jpg/site2/20111130/0023aead1cba10403f925a.jpg");
  </script>
<% end %>
