<div class="section-header issue-header">
  <div class="section-header-slogan">
    <h1><%= t('contact') %></h1>
  </div>
</div>

<% content_for :template_js do %>
  <script>
    $('.issue-header').anystretch("/assets/issues.jpg");
  </script>
<% end %>

<div class="container">
  <div class="contact-me blue-top-box">

    <div class='contact-list'>
	<i class='fa fa-send'>&nbsp;&nbsp;</i>
	<a href='mailto:hello@maodou.io'>hello@maodou.io</a>
	<br><br>
	<i class='fa fa-weibo'>&nbsp;&nbsp;</i>
	<a href='http://weibo.com/maodouio' target=_blank>新浪微博: 毛豆网在线教育</a>
	<br><br>
	<i class='fa fa-tencent-weibo'>&nbsp;&nbsp;</i>
	<a href='http://t.qq.com/maodouio' target=_blank>腾讯微博: 毛豆网</a>
	<br><br>
	<i class='fa fa-renren'>&nbsp;&nbsp;</i>
	<a href='http://www.renren.com/831804748' target=_blank>人人网: 毛豆网</a>
	<br><br>
<!--
	<i class='fa fa-phone'>&nbsp;&nbsp;</i>
	<a href='#'>400-000-0000</a>
	<br><br>
	<i class='fa fa-twitter'>&nbsp;&nbsp;</i>
	<a href='#'>@maodou.io</a>
	<br><br>
	<i class='fa fa-facebook'>&nbsp;&nbsp;</i>
	<a href='#'>@maodou.io</a>
	<br><br>
	<i class='fa fa-git'>&nbsp;&nbsp;</i>
	<a href='#'>http://github.com/maodou-io</a>
	<br><br>
	<i class='fa fa-skype'>&nbsp;&nbsp;</i>
	<a href='#'>maodou-io</a>
	<br><br>
	<i class='fa fa-linkedin'>&nbsp;&nbsp;</i>
	<a href='#'>http://linkedin.com/maodou-io</a>
	<i class='fa fa-weixin'>&nbsp;&nbsp;</i>
	<a href='#'>http://weixin.com/maodou-io</a>
	<br><br>
	<i class='fa fa-qq'>&nbsp;&nbsp;</i>
	<a href='#'>2372614758</a>
	<br><br>
-->
    </div>

  </div>
</div>
