<div class="container">
  <div class="contact-me blue-top-box">

    <div class='contact-list'>
	<i class='fa fa-send'>&nbsp;&nbsp;</i>
	<a href='mailto:hello@maodou.io'>hello@maodou.io</a>
	<br><br>
	<i class='fa fa-phone'>&nbsp;&nbsp;</i>
	<a href='#'>400-000-0000</a>
	<br><br>
	<i class='fa fa-twitter'>&nbsp;&nbsp;</i>
	<a href='#'>@maodou.io</a>
	<br><br>
	<i class='fa fa-facebook'>&nbsp;&nbsp;</i>
	<a href='#'>@maodou.io</a>
	<br><br>
	<i class='fa fa-git'>&nbsp;&nbsp;</i>
	<a href='#'>http://github.com/maodou-io</a>
	<br><br>
	<i class='fa fa-weibo'>&nbsp;&nbsp;</i>
	<a href='#'>http://weibo.com/maodou-io</a>
	<br><br>
	<i class='fa fa-weixin'>&nbsp;&nbsp;</i>
	<a href='#'>http://weixin.com/maodou-io</a>
	<br><br>
	<i class='fa fa-skype'>&nbsp;&nbsp;</i>
	<a href='#'>maodou-io</a>
	<br><br>
	<i class='fa fa-qq'>&nbsp;&nbsp;</i>
	<a href='#'>2372614758</a>
	<br><br>
	<i class='fa fa-renren'>&nbsp;&nbsp;</i>
	<a href='#'>http://renren.com/maodou-io</a>
	<br><br>
	<i class='fa fa-linkedin'>&nbsp;&nbsp;</i>
	<a href='#'>http://linkedin.com/maodou-io</a>
    </div>

  </div>
</div>
