<div class="hero clearfix">
  <div class="teacher-search">
    <input type="text" class="teacher-search-input" placeholder="e.g. Ruby, Linux, C ">
    <a href="#" class="button">搜索老师</a>
  </div>
</div>

<div class="features">
  <div class="item">
    <div class="icon animated fadeInUp">
      <i class="fa fa-users"></i>
    </div><!--//icon-->
    <div class="content">
      <h3 class="title">进入毛豆教室</h3>
      <p>
        毛豆网 - 和最好的老师一对一学编程
      </p>
    </div>
  </div>
</div>

