<div class="hero clearfix">
  <div class="teacher-search">
    <input type="text" class="teacher-search-input" placeholder="e.g. Ruby, Linux, C ">
    <a href="#" class="button"><%= t("website.search_teacher") %></a>
  </div>
</div>

<div class="features">
  <div class="item">
    <div class="icon animated fadeInUp">
      <i class="fa fa-users"></i>
    </div><!--//icon-->
    <div class="content">
      <h3 class="title"><%= t("website.enter_classroom") %></h3>
      <p>
        <%= t("website.slogen") %>
      </p>
    </div>
  </div>
</div>
