<div class="container">
  <div class="contact-me blue-top-box">

    <div class='jobs-list'>

<h1>在线教育浪潮已经涌动，我们此刻正在路上...</h1>
<hr>
We’re looking for smart and motivated people to join us!</p>
<br>
<div class='content_right'>
<h2>开放职位 Open positions</h2>
<p>
<li> 市场运营总监 （Marketing Director）
<a class='details_link' href='#' onclick='openDesc(4)'>Details</a>
</p>
<p>
<li> 网站开发工程师 （Web Development Engineer）
<a class='details_link' href='#' onclick='openDesc(3)'>Details</a>
</p>
<br>
<br>
<h2>感兴趣吗？Interested?</h2>
<p>
赶紧发邮件和我们联系吧！ Get in touch with us at
<a href='mailto:jobs@maodou.io'>jobs@maodou.io</a>
</p>
</div>
</div>
</div>

    </div>

  </div>
</div>
