<div class="container">
  <div class="contact-me blue-top-box">

    <div class='jobs-list'>

	<h2>在线教育浪潮已经涌动，我们此刻正在路上...</h2>
	We’re looking for smart and motivated people to join us!</p>
	<br>
	<h1>开放职位 Open positions</h1>
	<br>

	<h3> 市场运营总监 （Marketing Director） </h3>
	<hr width=300 align=left>
	<li> 热爱教育行业, 有过三年以上互联网产品的市场运营经验
	<li> 有线上/线下关键媒体资源，负责建立和发展毛豆网的品牌文化
	<li> 根据公司战略目标和发展规划，能够组建和带领团队执行营销目标
	<br>
	(工作地点北京)
	<br>
	<br>
	<br>

	<h3> 网站开发工程师 （Web Development Engineer）</h3>
	<hr width=400 align=left>
	<li> 精通网站开发，有 Ruby on Rails 网站开发经验；
	<li> 熟悉网站前端，掌握 Javascript, CSS/Html, Bootstrap, Ajax 等；
	<li> 除了上面这2点，最重要的是喜欢编程，对从事在线教育事业有热情。
	<br>
	(工作地点可以是北京，也可以是在线上)
	<br>
	<br>
	<br>
	我们是一个年轻的创业团队，注重工作成果和效率，反对形式化的打卡上班。
	<br>
	<br>
	<h2>感兴趣吗？Interested?</h2>
	<p>

	赶快发邮件和我们联系吧！ Get in touch with us at
	<a href='mailto:jobs@maodou.io'>jobs@maodou.io</a>

    </div>

  </div>
</div>
