<div class="title-wrap">
  <h2 class="my-events-header">
    <i class="fa fa-coffee"></i>
    <%= t("event.my_event") %>
  </h2>
</div>
<ul class="event-list">
  <% user.events.each do |e| %>
    <% if e.published || owner?(e) %>
      <%= render partial: "events/event", locals: {e: e} %>
    <% end %>
  <% end %>
</ul>
<% if user.events.blank? %>
  <div class="message blue-top-box">
    <i class="fa fa-frown-o"></i>
    <%= t("event.no_event") %>
  </div>
<% end %>