<div class="container">
  <div class="classroom-online-users blue-top-box">
    <h3 class="title">
      <%= t("online_members") %>
    </h3>
    <ul class="participants"></ul>
  </div>
</div>

<% content_for :template_js do %>
  <%= javascript_include_tag "vendor/socket.io" %>
  <script>
    <%= render(partial: 'real_time_client', locals: { classroom: params[:uid] }, handlers: [:erb], formats: [:js]) %>
  </script>
<% end %>
