<div class="container timeline-page">
  <% if @events.blank? %>
    <div class="no-events">
      <i class="fa fa-frown-o"></i>
      <%= t("event.no_event") %>
    </div>
  <% else %>
    <ul>
    <% @events.each do |e| %>
      <%= render partial: 'tl_event', locals: { e: e } %>
    <% end %>
    </ul>
  <% end %>
</div>
