defaults: &defaults
  resque:
    user: 'ppweb'
    secret: '111111'
  socket:
    server: 0.0.0.0:5001
  elasticsearch:
    host: localhost:9200
  sendcloud:
    user_name: 'username' 
    password: 'secret'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
