.error-page {
  width: 700px;
  margin: 30px auto;
  height: 300px;
  color: #e91b23;
  text-align: center;
  font-size: 30px;
  background-color: #fff;
  border: 1px solid #ddd;
  .icon {
    font-size: 40px;
  }
}
