@import "globals/variables";
@import "globals/mixins";

#blog-home-header {
  background: url('/assets/macbook_note.jpg') no-repeat 0 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  background-color: #020C11;
  min-height: 200px;
  padding: 0;
  h1 {
    padding-top: 50px;
  }
}

.new-blog {
  margin-top: 40px;
}

.blog-container {
  width: 960px;
  margin: 20px auto;
  padding: 20px;
}

.blog-post {
  border-top: 1px solid #EEE;
  padding: 40px 50px 40px;
  &:first-child {
    border-top: none;
  }
  a {
    color: $font-gray;
  }
  .blog-post-title {
    color: teal;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: normal;
    a { color: inherit; }
  }
  .blog-post-meta {
    position: relative;
    margin-bottom: 10px;
    color: #999;
    li {
      list-style: none;
      display: inline;
      padding-right: 5px;
    }
    .author-avatar {
      position: absolute;
      top: -50px;
      left: -124px;
      width: 100px;
      height: 100px;
      border-radius: 500px;
      border: 1px solid rgba(0,0,0,0.3);
      padding: 2px;
      -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.3),0 0 2px rgba(0,0,0,0.5);
      -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.3),0 0 2px rgba(0,0,0,0.5);
      -ms-box-shadow: 0 2px 3px rgba(0,0,0,0.3),0 0 2px rgba(0,0,0,0.5);
      -o-box-shadow: 0 2px 3px rgba(0,0,0,0.3),0 0 2px rgba(0,0,0,0.5);
      /* box-shadow: 0 2px 3px rgba(0,0,0,0.3),0 0 2px rgba(0,0,0,0.5); */    }
  }
}

.blog-markdown-body {
  margin-top: 20px;
  padding-top: 5px;
}

.blog-comment-area {
  margin-top: 30px;
  padding: 30px;
}

// index
.blog-admin-area {
  text-align: right;
  padding: 20px;
}
.blog-index {
  padding-top: 30px;
}