.new-blog {
  margin-top: 40px;
}

.blog-container {
  width: 960px;
  margin: 20px auto;
  padding: 20px;
}

.blog-post {
  border-top: 1px solid #EEE;
  &:first-child {
    border-top: none;
  }
  .blog-post-title {
    color: teal;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: normal;
    a { color: inherit; }
  }
  .blog-post-meta {
    margin-bottom: 10px;
    color: #999;
    li {
      list-style: none;
      display: inline;
      padding-right: 20px;
    }
    .author-avatar {
      vertical-align: top;
      border-radius: 3px;
      width: 18px;
      height: 18px;
    }
  }
}

.blog-markdown-body {
  margin-top: 20px;
}

// index
.blog-admin-area {
  text-align: right;
  padding: 20px;
}
.blog-snap {
  padding: 20px;
  margin-bottom: 20px;
}
.blog-index {
  padding-top: 30px;
}