@import "globals/variables";
@import "globals/mixins";

.maincontainer{
  height: 100%;
  overflow: hidden;
  .leftcolumn, .rightcolumn,
  .tabs-contents, .tabs-contents li, .content {
    @extend .maincontainer;  // inherit styles from their parent .maincontainer
  }
  .leftcolumn{
    float: left;
    width: 1100px;
  }
  .rightcolumn{
    float: left;
    width: 260px;
  }
}

.site-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #191919;
}
.site-nav-scrollable-container {
  display: none;
  height: 100%;
}
.site-nav-list {
  margin-top: 10px
}
.site-nav-list-item-btn {
  display: block;
  height: 42px;
  line-height: 45px;
  color: #b3b3b1;
  padding: 0 25px;
  &:hover {
    color: white;
  }
}

.content-container {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .2s cubic-bezier(.2, .3, .25, .9);
  -moz-transition: -moz-transform .2s cubic-bezier(.2, .3, .25, .9);
  -o-transition: -o-transform .2s cubic-bezier(.2, .3, .25, .9);
  transition: transform .2s cubic-bezier(.2, .3, .25, .9);
}
.scroll-region {
  height: 100%;
  overflow: auto;
  padding-left: 20px;
  box-sizing: border-box;
}
.site-nav-logo {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 10px;
  top: 10px;
  border: 0;
  outline: 0;
  opacity: 1;
  transition: .3s opacity linear;
  color: #333332;
  font-size: 32px;
  font-weight: bold;
  line-height: 48px;
  cursor: pointer;
  background-color: #fff;
}
.site-nav-drawer-open {
  .content-container {
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px,0,0);
    position: fixed;
  }

  .site-nav-overlay {
    display: block;
    left: 300px;
    z-index: 999;
  }
}

.site-nav-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.site-nav-transition {
  .content-container {
    position: fixed;
    background-color: #FFF;
  }
  .site-nav-scrollable-container {
    display: block;
    overflow: auto;
    width: 300px;
  }
}

#tabs-titles {
  float: left;
  position: relative;
  top: 100px;
  text-align: right;
  li {
    cursor: pointer;
    color: #999;
    padding: 8px 10px;
    margin: 5px 0;
    &:hover, &:focus {
      box-shadow: inset -2px 0 0 #CCC;
      color: #333;
    }
    &.current {
      color: #333;
      border-top: 1px solid #EEE;
      border-bottom: 1px solid #EEE;
      border-left: 3px solid $brand-green;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
    }
  }
}
#tabs-contents li {
  display: none;
  &:first-child {
    display: block;
  }
  .web-shell {
    width: 100%;
    height: 100%;
    border: none;
  }
}

#livevideo {
  width: 120px;
  height: 90px;
}

#localVideo, #remoteVideo {
  width:180px;
  height: 100%;
}