@import "globals/variables";
@import "globals/mixins";

.maincontainer{
  height: 100%;
  overflow: hidden;
  .contentwrapper, .contentcolumn, .leftcolumn, .rightcolumn,
  .tabs-contents, .tabs-contents li, .content {
    @extend .maincontainer;  // inherit styles from their parent .maincontainer
  }
  .contentwrapper{
    float: left;
    width: 100%;
  }
  .contentcolumn{
    margin: 0 200px 0 180px; //Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth
    .web-shell {
      width: 100%;
      height: 100%;
      border: none;
    }

  }
  .leftcolumn{
    float: left;
    width: 180px; //Width of left column in px
    margin-left: -100%;
  }
  .rightcolumn{
    float: left;
    width: 200px; //Width of right column in pixels
    margin-left: -200px; //Set margin to that of -(RightColumnWidth)
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 66px;
    width: 180px;
    background-color: $brand-green;
    border-bottom: 1px solid #86C5AC;
    a {
      color: #FFF;
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      padding-top: 17px;
      padding-left: 29px;
      width: 100%;
      height: 100%;
      &:hover {text-decoration: none; }
    }
  }
}

#livevideo {
  width: 120px;
  height: 90px;
}

#localVideo, #remoteVideo {
  width:180px;
  height: 100%;
}

#tabs-titles {
  float: right;
  position: relative;
  top: 100px;
  text-align: right;
  li {
    cursor: pointer;
    color: #999;
    padding: 8px 10px;
    margin: 5px 0;
    &:hover, &:focus {
      box-shadow: inset -2px 0 0 #CCC;
      color: #333;
    }
    &.current {
      color: #333;
      border-top: 1px solid #EEE;
      border-bottom: 1px solid #EEE;
      border-left: 3px solid $brand-green;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
    }
  }
}
#tabs-contents li {
  display: none;
  &:first-child {
    display: block;
  }
}