@import "globals/variables";
@import "globals/mixins";

.event-form {
  width: 800px;
  margin: 20px auto;
}

.event-card {
  border-top: 1px solid green;
  background: white;
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.15);
  -ms-box-shadow: 0 0 1px 1px rgba(0,0,0,.15);
  -o-box-shadow: 0 0 1px 1px rgba(0,0,0,.15);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.15);
  border-radius: 5px;
  padding: 15px;
  border-top: .2em solid #6ECFF5;
  font-size: 14px;
  color: $font-gray;
  i.fa {
    margin-right: 5px;
  }
  .event-title {
    font-size: 18px;
  }
  .event-time {
  }
  .event-members {
    padding-top: 5px;
  }
}

.event-hero {
  margin-top: 40px;
  text-align: center;
  .event-hero-title {
    font-size: 33px;
    font-weight: normal;
  }
  a {
    display: block;
    width: 80px;
    margin: 20px auto;
  }
}

.event-organizer-card {
  margin-top: 30px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,.15);
  border-top: .2em solid #6ECFF5;
  width: 225px;
  float: right;
  height: 100px;
  text-align: center;
  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}