@import "globals/variables";
@import "globals/mixins";

.event-form {
  width: 800px;
  margin: 20px auto;
}

.event-card {
  border-top: 1px solid green;
  background: white;
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.15);
  -ms-box-shadow: 0 0 1px 1px rgba(0,0,0,.15);
  -o-box-shadow: 0 0 1px 1px rgba(0,0,0,.15);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.15);
  border-radius: 5px;
  padding: 15px;
  border-top: .2em solid #6ECFF5;
  font-size: 14px;
  color: $font-gray;
  i.fa {
    margin-right: 5px;
  }
  .event-title {
    font-size: 18px;
  }
  .event-time {
  }
  .event-members {
    padding-top: 5px;
  }
}

.event-hero {
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
  .event-hero-title {
    color: white;
    font-size: 38px;
    margin: 40px 0;
    letter-spacing: 3px;
    font-weight: bold;
  }
  .event-subtitle {
    color: rgba(255,255,255,0.65);
  }
  a {
    display: inline-block;
    margin: 20px auto;
  }
}

.event-details {
  margin-top: 40px;
}

.event-organizer-card {
  margin-right: 200px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
  background: #fff;
  padding: 10px 10px 20px 10px;
  border-radius: 5px;
  width: 110px;
  float: right;
  background: white;
  h3 {
    margin-bottom: 8px;
  }
  .short-profile {
    padding-top: 10px;
    img {
     display: block;
     margin: 0 30px;
     height: 50px;
     width: 50px;
     border-radius: 50%;
    }
    .organizer-name {
      display: block;
      text-align: center;
      padding: 6px 0;
    }
  }
}
.event-section-area {
  margin-left: 200px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 550px;
  float: left;
  .event-section-title {
    font-size: 19px;
    padding-bottom: 11px;
    margin: 10px 0 25px;
    font-weight: normal;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 80px;
      height: 0;
      border-bottom: 1px solid #7f7f7f;
      bottom: -1px;
      left: 0;
    }
  }
}

.event-member-area {
  margin: 20px 0 10px 200px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 550px;
  float: left;
  .member-area-title {
    margin-bottom: 8px;
  }

  .event-member-list {
    width: 550px;
    .member-list-item {
      width: 90px;
      padding: 10px;
      float: left;
      img {
        display: block;
        margin: 0 20px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
      .member-name {
        display: block;
        text-align: center;
        padding: 6px 0;
      }
    }
  }
 }
