@import "globals/variables";
@import "globals/mixins";

.event-form {
  width: 800px;
  margin: 20px auto;
}

.event-card {
  padding: 15px;
  font-size: 14px;
  color: $font-gray;
  i.fa {
    margin-right: 5px;
  }
  .event-title {
    font-size: 18px;
  }
  .edit-event-icon {
    float: right;
    font-size: 16px;
    color: #555;
  }
  .event-meta {
    margin-top: 7px;
    display: table-cell;
    border-right: 1px solid #ddd;
    padding-left: 10px;
    padding-right: 10px;
    &:last-child {
      border-right: none;
    }
  }
  .event-meta.first {
    padding-left: 0;
  } 
}

.event-hero {
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
  .event-hero-title {
    color: white;
    font-size: 38px;
    margin: 40px 0;
    letter-spacing: 3px;
    font-weight: bold;
  }
  .event-subtitle {
    color: rgba(255,255,255,0.65);
  }
  a {
    display: inline-block;
    margin: 20px auto;
  }
}

.event-details {
  padding: 50px 0;
  .event-section-left {
    @include box-style;
    width: 600px;
    float: left;
  }
  .event-section-right {
    @include box-style;
    width: 300px;
    float: right;
  }
  .event-section-bottom {
    @include box-style;
    clear: both;
  }
}

.event-organizer-card {
  .short-profile {
    padding-top: 10px;
    img {
     display: block;
     margin: 0 30px;
     height: 50px;
     width: 50px;
     border-radius: 50%;
    }
    .organizer-name {
      display: block;
      text-align: center;
      width: 110px;
      padding: 6px 0;
    }
  }
}

.event-section-title {
  font-size: 19px;
  padding-bottom: 11px;
  margin: 10px 0 25px;
  font-weight: normal;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 0;
    border-bottom: 1px solid #7f7f7f;
    bottom: -1px;
    left: 0;
  }
  .event-invitation {
    margin-left: 50px;
  }
}

.event-share-list {
  float: right;
  font-size: 19px;
  margin-right: 20px;
  .share-item {
    padding: 0 5px;
  }
}

.event-member-area {
  width: 550px;
  .event-member-list {
    width: 550px;
    .member-list-item {
      width: 90px;
      padding: 10px;
      float: left;
      img {
        display: block;
        margin: 0 20px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
      .member-name {
        display: block;
        text-align: center;
        padding: 6px 0;
      }
    }
  }
 }

.edit-event-box {
  width: 700px;
  margin: 30px auto;
  background: #fff;
  border: 1px solid #ccc;
  h3 {
    font-size: 17px;
    padding: 15px;
    color: #fff;
    background-color: #56bc94;
  }
  .back {
    color: #fff;
    float: right;
  }
  .event-list {
    padding: 0 15px;
  }
  .event-item {
    padding: 40px 15px;
    border-bottom: 1px solid #ececec;
    &:last-child {
      border-bottom: none;
    }
    div {
      display: table-cell;
    }
    .feedback-msg {
      padding-left: 30px;
      font-size: 14px;
    }
    .feedback-msg.error {
      color: red;
    }
    .feedback-msg.success {
      color: green;
    }
    .edit-action {
      padding-left: 50px;
      color: #555;
    }
  }
  .event-label {
    width: 150px;
    padding: 0 10px;
    font-size: 17px;
    color: #333;
  }
  .event-info {
    font-size: 15px;
  }
}

.event-comment-area {
  margin-top: 30px;
  padding: 30px;
  h2 i {
    background-color: #6ECFF5!important;
    color: #FFF!important;
    border-radius: 50%;
    margin-right: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }
}
