.flash-notice {
  color: #3A87AD;
  background-color: #D9EDF7;
  padding: 10px;
}
.flash-error {
  background-color: #F1D7D7;
  color: #A95252;
  padding: 10px;
}
.flash-alert {
  background-color: #F6F3D5;
  color: #96904D;
  padding: 10px;
}