@import "globals/variables";
@import "globals/mixins";

// header
.header {
  height: 43px;
  .header-logo-wordmark {
    line-height: 43px;
  }
  background:#333;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

#user-links {
  float:right;
  li {
    display: block;
    float: left;
    padding: 0 10px;
    text-align: center;
    line-height: 43px;
    &:hover {
      background: lighten(#333, 20%);
    }
  }
}