@import "globals/variables";
@import "globals/mixins";

// header
.header {
  height: 43px;
  background:#333;
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
  .header-left {
    float: left;
    height: 100%;
    white-space: nowrap;
  }
  .logo {
    margin: 0;
    position: relative;
    z-index: 1;
    display: inline-block;
    height: 43px;
    vertical-align: middle;
    position: relative;
  }
  .header-logo-wordmark {
    width: 150px;
    height: 43px;
    line-height: 43px;
    font: 0/0 a;
    background: url(/assets/maodou_white.png) no-repeat 18px center;
    background-size: auto 35px;
    display: block;
    border: 0;
    outline: 0;
  }

  .notification-indicator {
    display: inline-block;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .notification-indicator-unread {
    background-color: #D95C5C;
  }
}

.footer {
  margin-top: 90px;
  padding: 20px;
  border-top: 1px solid #ccc;
  .left-footer {
    float: left;
   .footer-links {
      .link {
        display: inline-block;
        padding-right: 10px;
      }
    }
  }

  .right-footer {
    float: right;
  }
}

.user-links {
  float:right;
  li {
    display: inline-block;
    a {
      line-height: 43px;
      text-align: center;
      display: block;
      padding: 0 10px;
      &:hover {
        background: lighten(#333, 20%);
      }
    }
    .badage {
      &:hover {
        background: #333;
      }
    }
  }
}