@import "globals/variables";
@import "globals/mixins";

.notification-list-wrapper {
  .notification-title {
    line-height: 60px;
    margin-top: 30px;
    height: 60px;
  }
  .no-content {
    border-top: 1px solid #ddd;
    text-align: center;
    padding-top: 30px;
    color: #e91b23;
  }
  .notification-list {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    background: transparent;
  }
  .n-odd {
    background-color: #EAF3F3;
  }
  .n-item {
    .n-col {
      padding: 8px;
      text-align: left;
      vertical-align: top;
      line-height: 18px;
      border-top: 1px solid #D9E4E6;
    }
    .notificon {
      padding-left: 20px;
      width: 50px;
      color: #888;
      border-left: 1px solid #167F92;
    }
    .n-avatar {
      padding: 8px 10px;
      width: 30px;
    }
    .n-avatar .gavatar {
      width: 30px;
      height: 30px;
      margin-bottom: 0;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -ms-border-radius: 50%;
      -moz-border-radius: 50%;
    }
    .n-desc {
      padding: 14px 0;
      font-size: 16px;
    }
    .n-msg-reply {
      width: 30px;
      text-align: center;
      @include msg-button-style;
    }
    .n-msg-form {
      display: none;
    }
    .n-msg-textarea {
      width: 400px;
      height: 150px;
      display: block;
    }
    .n-msg-btn {
      margin-top: 20px;
      @include msg-button-style;
    }
    .n-msg-cancel {
      margin-top: 20px;
      margin-left: 10px;
      cursor: pointer;
      color: #D95C5C;
    }
    .n-annotate {
      font-size: 16px;
    }
    .n-time {
      width: 150px;
      text-align: right;
      color: $font-gray;
      padding: 14px 20px;
      font-style: italic;
      font-size: 13px;
      border-right: 1px solid #167F92;
    }
    .n-circle {
      padding-left: 10px;
      font-size: 16px;
      color: #D95C5C;
    }
  }
  .n-item:first-child {
    border-left: 1px solid #167F92;
  }
}
