@import "globals/variables";
@import "globals/mixins";

.edit-form, .login-form, .signup-form {
  width:400px;
  margin: 60px auto;
}

.left-side {
  width: 225px;
  float: left;
  .github-block {
    margin-top: 30px;
    h3 {
      border-bottom: 1px solid #eee;
      text-align: center;
      padding: 12px 0;
      margin-bottom: 10px;
    }
    .tip, .info {
      padding: 6px 10px;
    }
  }
}

.msg-block {
  margin-top: 20px;
}
.page-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4000;
  background: #292F29;
  background: rgba(41, 47, 51, 0.9);
}
.msgbox-enabled .page-overlay {
  display: block;
}
.msgbox-container {
  display: none;
  position: fixed;
  overflow: auto;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
}
.msg-area {
  position: relative;
  top: 50px;
  width: 520px;
  margin: 0 auto;
  padding-bottom: 30px;
  z-index: 6000;
}
.msg-new-content {
  position: relative;
  background-color: #FFF;
  border-radius: 6px;
  background-clip: padding-box;
  box-shadow: 0 4px 15px rgba(32, 47, 51, 0.2);
}
.msg-header {
  border-radius: 6px;
  padding: 15px 15px 14px;
  border-bottom: 1px solid #E1E8ED;
  height: 18px;
  background-color: #EEE;
  text-align: left;
  font-size: 18px;
  .receiver {
    font-weight: bold;
  }
}
.msg-form {
  padding: 15px 15px 21px 15px;
  border-top: 1px solid #E1E8ED;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius: 0 0 6px 6px;
  background-color: #E5F2F7;
}
.msg-errors {
  display: none;
  text-align: center;
  color: #A95252;
  font-size: 18px;
  padding-top: 15px;
  background-color: #E5F2F7;
}
.msg-textarea {
  width: 100%;
  height: 200px;
}
.msg-btn {
  display: block;
  text-align: center;
  margin: 21px auto 0;
  @include msg-button-style;
}
.login-msg-btn, .notlogin-msg-btn {
  width: 120px;
  padding: 10px;
}
.msg-cancel-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  color: #999;
  &:hover {
    cursor: pointer;
  }
}

.profile-card {
  margin-top: 30px;
  text-align: center;
  .name-email {
    text-align: center;
    h2 {
      color: $brand-green;
    }
  }
  .edit-info {
    padding: 20px 0;
  }
}
.profile-card img {
  display: block;
  margin: 20px auto;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.event-list-wrap {
  width: 700px;
  float: right;
  padding-top: 30px;
  a.new-event-btn {
    display: block;
    text-align: center;
  }
  .title-wrap {
    padding: 10px 0;
    margin: 5px 0;
  }
  .event-list {
    .event-item {
      margin-bottom: 20px;
    }
  }
}
