@import "globals/variables";
@import "globals/mixins";

.edit-form, .login-form, .signup-form {
  width:400px;
  margin: 60px auto;
}

.profile-card {
  margin-top: 30px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,.15);
  border-top: .2em solid #6ECFF5;
  width: 225px;
  float: left;
  text-align: center;
  .name-email {
    text-align: center;
    h2 {
      color: $brand-green;
    }
  }
  .edit-info {
    padding: 20px 0;
  }
}
.profile-card img {
  display: block;
  margin: 20px auto;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.event-list-wrap {
  width: 700px;
  float: right;
  padding-top: 30px;
  a.new-event-btn {
    display: block;
    text-align: center;
  }
  .title-wrap {
    padding: 10px 0;
    margin: 5px 0;
  }
  .event-list {
    .event-item {
      margin-bottom: 20px;
    }
  }
}

