@import "globals/variables";
@import "globals/mixins";


.hero {
  background: $brand-green;
  color: white;
}
.teacher-search {
  width: 400px;
  margin: 70px auto;

  a {
    display: block;
    width: 200px;
    margin: 0 auto;
    line-height: 22px;
    text-align: center;
    margin-top: 30px;
    background: darken($brand-green, 15%);
    color: white;
    &:hover{
      text-decoration: none;
      background: darken($brand-green, 20%);
    }
  }
  .teacher-search-input {
    padding: 10px 20px;
    line-height: 1.5;
    border: 1px solid #cccccc;
    display: block;
    margin: 0 auto;
    width: 300px;
  }
}
