@import "globals/variables";
@import "globals/mixins";

.about {
  padding: 30px;
  h2 {
    text-align: center;
  }
}

.about-hero {
  height: 200px;
  &:before {
    @include mask-image(200px, 0);
  }
}