@import "globals/variables";
@import "globals/mixins";


.hero {
  background: $brand-green;
  color: white;
}
.slogan {
  color: white;
  text-align: center;
  width: 800px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 25px;
}
.teacher-search {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 80px;

  a {
    display: block;
    width: 200px;
    margin: 0 auto;
    line-height: 22px;
    text-align: center;
    margin-top: 30px;
    background: darken($brand-green, 15%);
    color: white;
    font-size: 18px;
    &:hover{
      background: darken($brand-green, 20%);
      color: white;
    }
  }
  .teacher-search-input {
    padding: 10px 20px;
    line-height: 1.5;
    border: 1px solid #cccccc;
    display: block;
    margin: 0 auto;
    width: 300px;
  }
}

.features .icon {
  position: relative;
  width: 90px;
  height: 90px;
  border: 3px solid #56bc94;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
  -webkit-transition: -webkit-transform ease-out 0.2s, background 0.3s;
  -moz-transition: -moz-transform ease-out 0.2s, background 0.3s;
  transition: transform ease-out 0.2s, background 0.3s;
  a {
    display: block;
    padding: 20px;
  }
  &:hover {
    background: $brand-green;
    .fa {
      color: white;
    }
    cursor: pointer;
  }
  .fa {
    color: #56bc94;
    font-size: 48px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.features {
  margin-top: 30px;
  .content {
    text-align: center;
    margin-top: 20px;
  }
}

.site-updates {
  margin-top: 45px;
  .lastest-feed {
    width: 680px;
    float: left;
  }
  .todo {
    width: 470px;
    float: right;
  }
}

ul.feed-list {
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  .feed-title {
    margin-bottom: 10px;
  }
  .feed-item {
    margin: 30px 0;
    line-height: 50px;
    img.feed-avatar {
      width: 50px;
      margin: 0;
      border-radius: 50em;
      display: block;
    }
    .feed-col {
      display: table-cell;
      vertical-align: top;
    }
  }
  .feed-image {
    padding-right: 10px;
  }
  .feed-content {
    width: 460px;
  }
  .feed-time {
    color: $font-gray;
    width: 150px;
    padding-left: 10px;
    text-align: right;
  }
}

.todo-list {
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  .todo-title {
    margin-bottom: 10px;
  }
  .time-now {
    font-weight: normal;
    font-size: 14px;
    float: right;
    padding-top: 10px;
  }
  .todo-item {
    margin-top: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
    &:last-child {
      border-bottom: none;
    }
    .e-title {
      float: left;
    }
    .e-time {
      float: right;
      font-size: 14px;
    }
  }
}