@import "globals/variables";
@import "globals/mixins";

.marketing {
  padding-top: 30px;
}
.marketing .icon {
  position: relative;
  width: 90px;
  height: 90px;
  border: 3px solid #56bc94;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
  -webkit-transition: -webkit-transform ease-out 0.2s, background 0.3s;
  -moz-transition: -moz-transform ease-out 0.2s, background 0.3s;
  transition: transform ease-out 0.2s, background 0.3s;
  a {
    display: block;
    padding: 20px;
  }
  &:hover {
    background: $brand-green;
    .fa {
      color: white;
    }
    cursor: pointer;
  }
  .fa {
    color: #56bc94;
    font-size: 48px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}


.about-link {
  margin-top: 30px;
  text-align: center;
  margin-top: 20px;
}

.features {
  margin-top: 30px;
  box-sizing: border-box;
  padding: 10px;
  .item {
    width: 480px;
    text-align: center;
    height: 280px;
    float: left;
    box-sizing: border-box;
    padding: 30px;
    h3 {
      margin-top: 25px;
      font-size: 22px;
    }
    p {
      color: $font-gray;
    }
    .teaser-icon {
      width: 80px;
      height: 80px;
      margin: 10px auto 15px;
      i.fa {
        color: white !important;
        border-radius: 50%;
        padding: 25px;
        font-size: 30px;
      }
    }
  }

  .item.first {
    .teaser-icon {
      i.fa {
        background-color: #6ecff5 !important;
      }
    }
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  .item.second {
    .teaser-icon {
      i.fa {
        background-color: #5c6166 !important;
      }
    }
  }
  .item.third {
    .teaser-icon {
      i.fa {
        background-color: #564f8a !important;
      }
    }
  }
  .item.fourth {
    .teaser-icon {
      i.fa {
        background-color: #de3859 !important;
      }
    }
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
  }
}
