@import "globals/variables";
@import "globals/mixins";

.button {
  outline: none;
  padding: 10px 20px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  background: #EAEAEA;
  color: #333;
}

.button.primary {
  color: white;
  background-color: $brand-green;

  &:hover {
    color: white;
    background-color: darken($brand-green, 10%);
  }
}

.button.disabled, .button[disabled] {
  opacity: 0.65;
  filter: alpha(opacity=65);
  &:hover {
    opacity: 0.65;
  }
}

