@import "globals/variables";
@import "globals/mixins";

.button {
  outline: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  background: #EAEAEA;
  color: #333;
  &:hover {
    color: block;
    background-color: darken(#EAEAEA, 10%);
  }
}
.blue.button{
  background: #6ECFF5;
  color: white;
  &:hover {
    color: block;
    background-color: darken(#6ECFF5, 10%);
  }
}

.minibutton {
  outline: none;
  padding: 5px 10px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  background: #EAEAEA;
  color: #333;
  &:hover {
    color: block;
    background-color: darken(#EAEAEA, 10%);
  }
}

.button.primary, .minibutton.primary {
  color: white;
  background-color: $brand-green;

  &:hover {
    color: white;
    background-color: darken($brand-green, 10%);
  }
}

.button.red, .minibutton.red {
  color: white;
  background-color: #D95C5C;

  &:hover {
    color: white;
    background-color: darken(#D95C5C, 10%);
  }
}


.button.secondary, .minibutton.secondary {
  color: $brand-green;
  background: none;
  text-shadow: none;

  &:hover {
    color: darken($brand-green, 10%);
  }
}

.button.disabled, .button[disabled] {
  opacity: 0.65;
  filter: alpha(opacity=65);
  &:hover {
    opacity: 0.65;
  }
}

