@import "globals/variables";
@import "globals/mixins";

.flash {
  padding: 20px;
  text-align: center;
 .close {
    padding-left: 30px;
    cursor: pointer;
  }
}
.flash.notice {
  color: #3A87AD;
  background-color: #D9EDF7;
}
.flash.error {
  background-color: #F1D7D7;
  color: #A95252;
}
.flash.alert {
  background-color: #F6F3D5;
  color: #96904D;
}

.message {
  padding: 15px;
  font-size: 14px;
  color: $font-gray;
  i.fa {
    margin-right: 5px;
  }
}