@import "globals/variables";
@import "globals/mixins";

.flash {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 20px;
 .close {
    padding-left: 30px;
    cursor: pointer;
  }
}
.flash.notice {
  color: #4D8796; // darker blue;
  background-color: #E6F4F9; //light blue;
}

.flash.error {
  background-color: #F1D7D7;
  color: #A95252;
}
.flash.alert {
  background-color: #F6F3D5;
  color: #96904D;
}

.message {
  padding: 15px;
  font-size: 14px;
  color: $font-gray;
  i.fa {
    margin-right: 5px;
  }
}

.tip {
  color: #3A87AD;
}
.tip.error {
  color: #A95252;
}
