.share-button {
  position: fixed;
  right: 200px;
  bottom: 100px;
  border-top: 1px solid #e5e5e5;
  z-index: 1005;
  -webkit-box-shadow: 2px 2px 3px #cccccc;
  -moz-box-shadow: 2px 2px 3px #cccccc;
  box-shadow: 2px 2px 3px #cccccc;
  .share-item {
    display: block;
    padding: 10px 0;
  }
}
